<!--<ul class="list-unstyled">-->
<!--  <% posts.each do |post| %>-->
<!--    <li class="media mb-3">-->
<!--      <div class="media-body">-->
<!--        <div><%= link_to post.title, post_path(post) %></div>-->
<!--      </div>-->
<!--    </li>-->
<!--  <% end %>-->
<!--  <%= paginate posts %>-->
<!--</ul>-->

<table class="table table-bordered">
  <% posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %></td>
      <td>♡<%= post.likes %></td>
    </tr>
  <% end %>
  <%= paginate posts %>
</table>